/* .mainDiv { */
/* position: relative;
  top: 10vh; */
/* display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  height: 3500px;
  width: 1000px; */
/* width: -content; */
/* min-width: 450px; */
/* max-width: 1000px;
  text-align: center; */
/* box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.5); */
/* justify-content: center; */

/* overflow: hidden;
}
.boxContainer:after {
  content: "";
  display: table;
  clear: both;
} */
.mainDiv {
  display: flex;
  /* background-color: green; */
  flex-wrap: wrap;
  margin: 10px auto;
  height: 150vh;
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
}
.box {
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  width: 200px;
  height: 250px;
  margin: 80px 10px;
  flex-wrap: wrap;
  background-color: #c5000000;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  flex: 1;
  padding-bottom: 10vh;
}

.boxContainer {
  display: inline-block;
  position: relative;
  top: 15vh;
  width: 1400px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

img {
  height: 270px;
  width: 200px;
  border: 3px solid rgb(255, 208, 0);
  aspect-ratio: auto 165/248;
}
img:hover {
  cursor: pointer;
}

a {
  text-emphasis: none;
  text-decoration: none;
  color: rgb(250, 250, 250);
  transition: color 0.5s ease;
  cursor: pointer;
}
a:hover {
  color: #962020;
}
.article-name {
  display: block;
}
@media (max-width: 786px) {
  .mainDiv {
    height: 3800px;
  }
}
